{% extends "base.html" %}
{% block title %}Here you are.{% endblock %}
{% block navigation%}
<li><a href="/">Home</a></li>
<li class="active"><a href="/about">About</a></li>
{% endblock %}
{% block content %}
<div class="hero-unit">
    <h1>About.</h1>
    <p>This page will eventually dump stored data about Facebook checkins around Newtown, in Sydney, Australia.</p>
</div>
<div class="row">
    <div class="span2">Data goes here!</div>
    <div class="span2">Data goes here!</div>
    <div class="span2">Data goes here!</div>
    <div class="span2">Data goes here!</div>
    <div class="span2">Data goes here!</div>
    <div class="span2">Data goes here!</div>
</div>
{% endblock %}